.custom_buttons{
    background: none;
    border: none;
    height: 100px;
    width: 100px;
    border-radius: 0 !important;
}

.form-control{
    width: auto;
}

.date-selectors {
    -webkit-box-shadow:inset 0px 0px 0px 10px #3FC18B;
    -moz-box-shadow:inset 0px 0px 0px 10px #3FC18B;
    box-shadow:inset 0px 0px 0px 10px #3FC18B;
}

.input-group .form-control {
    height: 100px;
    line-height: 100px;
    border-radius: 0 !important;
}