.custom_buttons{
    background: none;
    border: none;
    height: 75px;
    width: 75px;
}

.form-control{
    width: auto;
}

.date-selectors {
    margin-top: 5px;
}

.custom-input input[type="text"] {
    height: 50px;
    line-height: 50px;
}