.custom_buttons{
    background: none;
    border: none;
}

.container-fluid {
    background-color: white;
    box-shadow: 5px 0px 6px 2px #888888;
}

@media(min-width:1024px) {
    .container-fluid {
        margin: 50px;
    }
}
