section.performance-facts {
  font-size: medium;
  line-height: 1.4;
}
p.nutrition-p {
  margin: 0;
}

section.performance-facts {
  border: 1px solid black;
  table {
    border-collapse: collapse;
  }
}

section.performance-facts .performance-facts__table th.nutrition-rows {
  font-weight: normal;
  text-align: left;
  border-top: 1px solid black;
  white-space: nowrap;
}

table.tabletest.performance-facts__table{

  .blank-cell {
    width: 1rem;
    border-top: 0;
  }
  .thick-row {
    th, td {
      border-top-width: 5px;
    }
  }
}
.small-info {
  font-size: 1.1rem;
}

.text-center {
  text-align: center;
}
.thick-end {
  border-bottom: 10px solid black;
}
.thin-end {
  border-bottom: 1px solid black;
}
