{% extends 'bootstrap/base.html' %} {% block title %} Steven's Macro Counter App {% endblock %} {% block navbar %} {% block
styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='mobile_styles.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='navbar_style_custom.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='inline_form_fix.css')}}">
<link rel="stylesheet" href="{{url_for('.static', filename='global.css')}}">
<link href="https://use.fontawesome.com/releases/v5.0.11/css/all.css" rel="stylesheet"> {% endblock %}
<div id="wrapper">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false"
			 aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand text-center" href="{{ url_for('home') }}">Macro Tracker</a>
		</div>
		<!--top menu-->
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-right top-nav">
				{% if current_user.is_anonymous %}
				<li>
					<a href="{{ url_for('login') }}">Login</a>
				</li>
				{% else %}
				<li class="dropdown hover-color-selector">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }}
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a href="{{ url_for('profile') }}">Profile</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="{{ url_for('logout') }}">Log Out</a>
						</li>
					</ul>
				</li>
				{% endif %}
			</ul>
			<ul class="nav navbar-nav side-nav">
				{% if current_user.is_anonymous %} {% else %}
				<li {% if 'search' in request.path %}class="active" {% endif %}>
					<a href="{{ url_for('search') }}">
						<p>
							<div>
								<i style="color: dodgerblue;" class="fas fa-arrow-circle-left fa-2x"></i>
							</div>
							<div>Search</div>
						</p>
					</a>
				</li>
				<li {% if 'diary' in request.path %}class="active" {% endif %}>
					<a href="{{ url_for('diary')}}">
						<p>
							<div>
								<i style="color: dodgerblue;" class="fas fa-arrow-circle-left fa-2x"></i>
							</div>
							<div>Diary</div>
						</p>
					</a>
				</li>
				<li {% if 'profile' in request.path %}class="active" {% endif %}>
					<a href="{{ url_for('profile') }}">
						<p>
							<div>
								<i style="color: dodgerblue;" class="fas fa-arrow-circle-left fa-2x"></i>
							</div>
							<div>Profile</div>
						</p>
					</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	{% endblock %} {% block content %} {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages
	%}
	<div class="alert alert-info" role="alert">{{ message }}</div>
	{% endfor %} {% endif %} {% endwith %} {# application content needs to be provided in the app_content block #} {% block app_content
	%}{% endblock %} {% endblock %}