{% extends 'base.html' %} {% block app_content %}{% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='inline_form_fix.css')}}">{% endblock %}
<div class="container">
	<h2 class="text-center">Food Search</h2>
	<hr/>
	<br/>
	<form method='post'>
		{{ form.hidden_tag() }}
		<div class="form-inline">
			{{ form.search(class="form-control", placeholder="Enter food name...") }} {{ form.submit(class="btn btn-primary mb-2") }}
		</div>
	</form>
	<div class="clearfix"></div>
	</br>
	<table class="table table-condensed table-bordered">
		{% if recent_list == True %}
		<tr>
			<th colspan="2">Recent Foods</li>
		</tr>
		{% endif %} {% for food_name in food_list_clean %}
		<tr>
			{% if recent_list == True %}
			<td>
				<input type="checkbox" name="selected" value="{{ food_name[1] }}">
			</td>
			{% endif %}
			<td>
				<a href="{{ url_for('get_nutrition', ndbno = food_name[1], meal=meal, date=date) }}">{{ food_name[0] }}</a>
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}