{% extends 'base.html' %} {% block app_content %}{% block styles %} {{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='inline_form_fix.css')}}">{% endblock %}
<div class="container">
	<h2 class="text-center">Food Search</h2>
	<hr/>
	<br/>
	<form method='post'>
		{{ form.hidden_tag() }}
		<div class="form-inline">
			{{ form.search(class="form-control", placeholder="Enter food name...") }}
			<button type="submit" class="btn btn-primary mb-2" name="action" value="search">Search</button>
		</div>
	</form>
	<div class="clearfix"></div>
	</br>
	<form action="" method=POST>
		<table class="table table-condensed table-bordered">
			{% if recent_list == True %}
			<tr>
				<th colspan="2">
					<span class="pull-left">Recent Foods</span>
					<span class="pull-right">
						{% if meal == None %}
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
							 aria-expanded="true">
								Select Meal
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
								<li>Breakfast</li>
								<li role="separator" class="divider"></li>
								<li>Lunch</li>
								<li role="separator" class="divider"></li>
								<li>Dinner</li>
								<li role="separator" class="divider"></li>
								<li>Snacks</li>
							</ul>
						</div>
						{% endif %}
						<button type="submit" class="btn btn-primary" name="action" value="multiadd">Add selected</button>
					</span>
				</th>
			</tr>
			{% endif %} {% for food_name in food_list_clean %}
			<tr>
				{% if recent_list == True %}
				<td>
					<input type="checkbox" name="selected" value="{{ food_name[2] }}">
				</td>
				{% endif %}
				<td>
					<a href="{{ url_for('get_nutrition', ndbno = food_name[1], meal=meal, date=date) }}">{{ food_name[0] }}</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</form>
</div>
{% endblock %}