{% extends 'base.html' %} {% block app_content %}
<div class="container">
	<h2 class="text-center">Food Search</h2>
	<hr/>
	<br/>
	<form method='post'>
		{{ form.hidden_tag() }}
		<div class="form-group row text-center col-sm-6 col-sm-offset-3">
			<div class="col-sm-9 col-xs-8 text-center">
				{{ form.search(size=25, class="form-control", placeholder="Enter food name...") }}
			</div>
			<div class="col-sm-3 col-xs-4">
				{{ form.submit(class="btn btn-primary mb-2") }}
			</div>
		</div>
	</form>
	<div class="clearfix"></div>
	</br>
	<ul class="list-group">
		{% for food_name in food_list_clean %}
		<li class="list-group-item">
			<a href="{{ url_for('get_nutrition', ndbno = food_name[1], meal=meal, date=date) }}">{{ food_name[0] }}</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}